In [1]:
import networkx as nx
import pandas as pd

In [2]:
stops = pd.read_csv('../data/google_transit_M4/stops.txt')

In [4]:
stops.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,par_4_1,1,PLAZA DE CASTILLA,Paseo de la Castellana 189,40.46690,-3.68917,A,https://www.crtm.es,0,est_90_21,NaN,0
1,acc_4_1_1,1,Plaza de Castilla,Paseo de la Castellana 189,40.46682,-3.68918,NaN,https://www.crtm.es,2,est_90_21,NaN,0
2,acc_4_1_1040,1,Ascensor,Plaza de Castilla 9,40.46555,-3.68877,NaN,https://www.crtm.es,2,est_90_21,NaN,0
3,acc_4_1_1043,1,Intercambiador Superficie,Paseo de la Castellana 191 B,40.46728,-3.68915,NaN,https://www.crtm.es,2,est_90_21,NaN,0
4,acc_4_1_1044,1,Ascensor,Paseo de la Castellana 189,40.46702,-3.68918,NaN,https://www.crtm.es,2,est_90_21,NaN,0

In [16]:
s = stops[['stop_id', 'stop_name']]
s = s[s['stop_id'].str.contains("est_")]
#df['e'] = df.apply(lambda x: max(len(x['a']), len(x['b'])), axis=1)
s['stop_id'] = s['stop_id'].str.replace('est_','')
s['stop_id'] = s['stop_id'].str.split('_')
s.head()

      stop_id                            stop_name
149  [90, 21]  Intercambiador de Plaza de Castilla
150  [90, 25]                            Chamartín
151  [90, 54]                         Atocha-Renfe
152  [90, 58]                       Puerta del Sol
153   [4, 10]                             TRIBUNAL

In [6]:
#s1 = pd.merge(s,s, left_on='stop_id',right_on='parent_station')
s =

In [7]:
s1.head()

,stop_id_x,stop_name_x,parent_station_x,stop_id_y,stop_name_y,parent_station_y
0,est_90_21,Intercambiador de Plaza de Castilla,NaN,par_4_1,PLAZA DE CASTILLA,est_90_21
1,est_90_21,Intercambiador de Plaza de Castilla,NaN,acc_4_1_1,Plaza de Castilla,est_90_21
2,est_90_21,Intercambiador de Plaza de Castilla,NaN,acc_4_1_1040,Ascensor,est_90_21
3,est_90_21,Intercambiador de Plaza de Castilla,NaN,acc_4_1_1043,Intercambiador Superficie,est_90_21
4,est_90_21,Intercambiador de Plaza de Castilla,NaN,acc_4_1_1044,Ascensor,est_90_21

In [10]:
s1.to_csv('../data/google_transit_M4/stops_processed.csv')